@toolbar-item-color: #5a5a5a;
@toolbar-item-hover-color: #333;

.ToolbarIconButton {
  color: @toolbar-item-color;
  display: block;

  mask-image: url("../ToolbarIconButton/largeIcons.png");
  -webkit-mask-image: -webkit-image-set(
    url("../ToolbarIconButton/largeIcons.png") 1x,
    url("../ToolbarIconButton/largeIcons_2x.png") 2x
  );

  mask-position: var(--spritesheet-position);
  -webkit-mask-position: var(--spritesheet-position);

  background-color: #6e6e6e;

  &:hover {
    background-color: @toolbar-item-hover-color;
  }

  &:enabled:hover:not(:active) {
    background-color: @toolbar-item-hover-color;
  }
}

.ClearIcon {
  --spritesheet-position: 0px 144px;
  width: 28px;
  height: 24px;
}
