.SidebarActionItem {
  margin: 0;
  padding: 0 5px 0 16px;
  height: 36px;
  line-height: 34px;
  border-top: 1px solid transparent;

  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 16px;

  background: #ddd;

  &.Active,
  :focus {
    background-color: rgb(56, 121, 217);
    color: white;
  }
}
