.EmptyDeprecationsList {
  color: #777;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  overflow: auto;

  p {
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    padding: 0;
    margin: 0;
  }
}
