.ConsoleMessage {
  &Wrapper {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
  }

  &Warning,
  &Error {
    margin-top: -1px;
  }

  &Warning {
    border-top: 1px solid #fff5c2;
    border-bottom: 1px solid #fff5c2;
    background-color: #fffbe5;
    color: #5c3c00;
  }

  &Error {
    border-top: 1px solid #ffd6d6;
    border-bottom: 1px solid #ffd6d6;
    background-color: #fff0f0;
    color: #f00;
  }

  &Row {
    clear: right;
    position: relative;
    padding: 3px 0 1px 0;
    margin-left: 8px;
    margin-right: 8px;
    min-height: 18px;
    flex: auto;
    display: flex;
  }

  &Text {
    flex: 1;
    user-select: text;
    -moz-user-select: text;
  }
}

.ConsoleTimestamp {
  color: #808080;
  margin-right: 5px;
}

.ConsoleAnchor {
  text-align: right;
  max-width: 100%;
  margin-left: 10px;

  a {
    color: #545454;
    cursor: pointer;
    word-break: break-all;
    text-decoration: underline;
  }
}
