@toolbar-height: 26px;
@toolbar-item-color: #5a5a5a;
@toolbar-item-hover-color: #333;

.ToolbarToggleButton {
  position: relative;
  background-color: transparent;
  height: @toolbar-height;
  color: @toolbar-item-color;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;

  &:hover {
    color: @toolbar-item-hover-color;
  }

  .Label {
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
