@left-panel-size: 200px;
@resize-handler-width: 6px;

.SplitPanel {
  display: flex;
  flex: auto;
  flex-direction: row;

  .Resize {
    left: @left-panel-size;
    margin-left: (-@resize-handler-width / 2);
    cursor: ew-resize;
    width: @resize-handler-width;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}
