@toolbar-height: 26px;
@toolbar-item-color: #5a5a5a;

.ToolbarItem {
  position: relative;
  display: flex;
  background-color: transparent;
  flex: none;
  align-items: center;
  justify-content: center;
  height: @toolbar-height;
  border: none;
  color: @toolbar-item-color;
  padding: 0 5px;
}
