html {
  overflow: hidden;
  min-height: 10vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 12px;
  tab-size: 4;
  user-select: none;
  -moz-user-select: none;
  color: #222;
}

#root {
  display: flex;
  flex: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
}

.platform-linux {
  color: rgb(48, 57, 66);
  font-family: Roboto, Ubuntu, Arial, sans-serif;
}

.platform-mac {
  color: rgb(48, 57, 66);
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.platform-windows {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
